/*Fira Sans*/
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
  font-display: swap;
}

/*PT Sans*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
  font-display: swap;
}

/*бордер бокс на всю страницу*/
*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*общий шрифт*/
body {
  font-family: "PT Sans", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  background: #ffffff;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  /*Сглаживание текста*/
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  /*min-width: 1400px;* УБРАТЬ В КОНЦЕ*/
}

body a,
body button {
  transition: 220ms all ease-in-out;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  background-color: transparent;
}

/*--Скрытый элемент--*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.h2 {
  font: inherit;
  font-family: "Fira Sans", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  text-transform: uppercase;
  margin: 0;
}

.h3 {
  font: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.h4 {
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}

.p {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

/*кнопки*/
.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  font: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: transparent;
  width: fit-content;
  text-align: center;
  transition: 220ms all ease-in-out;
}

.button-red {
  background: #ee3643;
  padding: 13px 6px 14px 5px;
  min-width: 195px;
}

.button-red:hover {
  background: #ca2c37;
}

.button-red:active {
  background: #ba2732;
}

.button-green {
  background: #63a63e;
  padding: 12px 10px;
}

.button-green:hover {
  background: #5fbb2d;
}

.button-green:active {
  background: #518534;
}

.button-green[aria-label] {
  padding: 11px;
  aspect-ratio: 1 / 1;
  min-height: 40px;
  min-width: 40px;
}

.button-green[aria-label] svg {
  height: 18px;
}

.button-white {
  min-width: 135px;
  padding: 9px 5px;
  color: #32425c;
  background: #ffffff;
  border: 2px solid #63a63e;
}

.button-white:hover {
  border-color: #32425c;
}

.button-white:active {
  color: #c5c5c5;
  border-color: #c5c5c5;
}

button.button:disabled,
a.button:not([href]) {
  color: #f3f7f9;
  background-color: #c5c5c5;
  pointer-events: none;
  cursor: default;
}

/* Инпуты */
.input {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #3d546f;
  background: #ffffff;
  border: none;
  border-radius: 2px;
  padding: 8px 8px 12px 13px;
  margin: 0;
  cursor: text;
  outline: none;
  box-shadow: inset 0 0 0 1px #3d546f;
}

.email-input {
  box-shadow: inset 0 0 0 1px #63a63e;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 16px 12px 16px;
}

.input::placeholder {
  color: #c5c5c5;
}

.input:hover {
  color: #293449;
  box-shadow: inset 0 0 0 1px #63a63e;
}

.input:focus {
  color: #293449;
  box-shadow: inset 0 0 0 1px #ffbf47,
              inset 0 0 0 2px #63a63e;
}

.input:focus:invalid,
.input.error {
  color: #293449;
  box-shadow: inset 0 0 0 1px #ee3643;
}

.input:focus::placeholder {
  opacity: 0;
}

.input:hover:invalid,
.input:hover.error {
  color: #000000;
  box-shadow: inset 0 0 0 2px #ee3643;
}

.input:disabled,
.input:read-only {
  background-color: #f1f5f7;
  box-shadow: inset 0 0 0 1px #c5c5c5;
  color: #000000;
  cursor: default;
}

.input:disabled::placeholder {
  color: #000000;
}

.label {
  font: inherit;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
}

/*-------- ХЕДЕР --------*/
.navigation {
  position: relative;
}

/*первая секция*/
.header-contacts {
  background: #f3f7f9;
}

.header .contacts {
  margin: 0 -16px;
  display: flex;
  flex-wrap: wrap;
  font: inherit;
}

.contacts > * {
  margin: 0 16px;
  padding: 13px 0 14px 0;
  flex-shrink: 1;
}

.header .contact-name {
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  color: #ee3643;
  margin-right: auto;
}

.header .contact-address {
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
}

.header .contact-phone {
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  color: #293449;
}

.contact-phone:hover {
  color: #63a63e;
}

.contact-phone:active {
  opacity: 0.6;
}

.contact-phone svg {
  margin-right: 8px;
  flex-shrink: 0;
}

/*вторая секция*/
.header-content {
  background: #293449;
}

.header-content-wrapper {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #ee3643;
  min-width: 220px;
  min-height: 45px;
}

.logo::after {
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  height: 5px;
  background-color: inherit;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  content: "";
  z-index: 1;
}

.logo:hover {
  background: #ca2c37;
}

.logo:active {
  background: #ba2732;
}

.logo img {
  display: block;
}

/*Поиск*/
.search {
  width: auto;
  flex-grow: 1;
  display: flex;
}

.search:focus-within {
  background-color: #f1f5f7;
}

.search button[type="submit"] {
  opacity: 0.3;
  color: #ffffff;
  padding: 12px;
  margin-left: 9px;
  outline: none;
}

.search:focus-within button[type="submit"] {
  opacity: 1;
  color: #405069;
}

.search:focus-within button[type="submit"]:hover {
  opacity: 0.6;
}

.search:focus-within button[type="submit"]:active {
  opacity: 0.4;
}

.search button[type="submit"]:hover {
  opacity: 1;
}

.search button[type="submit"]:active {
  opacity: 0.6;
}

.search button[type="submit"]:focus {
  color: #5fbb2d;
}

.search-input-reset-button-wrapper {
  position: relative;
  flex-grow: 1;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-input {
  display: block;
  padding: 10px 0;
  padding-right: 45px;
  font: inherit;
  color: #293449;
  background: transparent;
  margin: 0;
  cursor: text;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  width: 100%;
  height: calc(100% - 1px);
}

.search-input::placeholder {
  color: #ffffff;
}

.search-input:focus::placeholder {
  opacity: 0;
}

.search:focus-within .search-input::placeholder {
  color: #c5c5c5;
}

.search:not(:focus-within) .search-input {
  color: #ffffff;
}

.search-reset-button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  box-shadow: none;
  background-color: transparent;
  background-image: url("../images/reset.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  display: none;
}

.search-input:valid + .search-reset-button {
  display: block;
}

.search:not(:focus-within) .search-input:valid + .search-reset-button {
  opacity: 0;
}

.search-reset-button:hover {
  opacity: 0.7;
}

.search-reset-button:active {
  opacity: 0.5;
}

.button-header-content {
  padding: 14px 0 13px 7px;
}

.button-header-content svg + span {
  margin-left: 10px;
}

.button-header-content:hover {
  color: #5fbb2d;
}

.button-header-content:active {
  color: #518534;
}

/*третья секция*/
.header-navigation {
  background: #3d546f;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.navigation-main-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  flex: 1 1;
}

.navigation-main-menu .navigation-link {
  padding: 20px 24px 25px 24px;
  min-width: 106px;
}

.navigation-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.navigation-link:hover {
  background: #32425c;
  color: #c5c5c5;
}

.navigation-link:active {
  background: #32425c;
  color: #ffffff;
  /*font-weight: bold;*/
  text-shadow: 0.5px 0 0.1px,
              -0.5px 0 0.1px;
}

.navigation-user-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navigation-user-menu .navigation-link[aria-label] {
  padding: 23px 13px 28px 13px;
  display: flex;
  align-items: center;
}

.navigation-link-icon {
  color: inherit;
  opacity: 0.6;
  min-height: 18px;
  transition: opacity 1s;
}

.navigation-link:hover .navigation-link-icon,
.navigation-link:active .navigation-link-icon {
  opacity: 1;
}

.navigation-user-menu .button-green {
  margin: auto 2px;
}

/*-------- МЕИН --------*/
.main {
  flex-grow: 1;
}

.bonus-prises {
  margin-top: 52px;
  margin-bottom: 50px;
}

.bonus-prises-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  column-gap: 30px;
  row-gap: 27px;
}

.bonus-prises-item {
  position: relative;
  overflow: hidden;
  min-height: 180px;
  padding: 20px 37px 33px 25px;
  display: grid;
  grid-template-columns: auto 90px;
  column-gap: 38px;
  color: #ffffff;
}

.bonus-prises-item::after {
  content: "";
  display: block;
  align-self: center;
  width: 90px;
  aspect-ratio: 1 / 1;
  background-size: initial;
  background-position: center;
  background-repeat: no-repeat;
}

.materials::after {
  background-image: url(../images/materials.svg);
}

.instrument::after {
  background-image: url(../images/instrument.svg);
}

.mechanism::after {
  background-image: url(../images/mechanism.svg);
}

.discounts::after {
  background-image: url(../images/discounts.svg);
}

.delivery::after {
  background-image: url(../images/delivery.svg);
}

.bonus-prises-item-wrapper {
  display: flex;
  flex-direction: column;
}

.button-bonus-prises {
  margin-top: auto;
  width: 100%;
  border: 1px solid #f9f5f0;
  padding: 11px 9px 9px 33px;
  background-color: transparent;
  background-image: url(../images/stroke.svg);
  background-size: auto;
  background-position: center left 11px;
  background-repeat: no-repeat;
  justify-content: flex-start;
}

.button-bonus-prises:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button-bonus-prises:active {
  opacity: 0.7;
}

.bonus-prises-item:nth-of-type(1n) {
  background: #ffbf47;
}

.bonus-prises-item:nth-of-type(2n) {
  background: #3bbce3;
}

.bonus-prises-item:nth-of-type(3n) {
  background: #dc91d8;
}

.bonus-prises-item:nth-of-type(4n) {
  background: #8ed78f;
}

/*Слайдер*/
.slider {
  grid-column: span 2;
  grid-row: span 2;
  position: relative;
}

.slider-info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-info-item {
  position: relative;
  display: none;
  background: #32425c;
  margin: 0;
  padding: 0;
}

.show {
  display: block;
}

.slider-info-wrapper {
  position: absolute;
  max-width: 50%;
  color: #ffffff;
  top: 53px;
  left: 51px;
}

.slider-image {
  display: block;
  object-fit: contain;
  object-position: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.slider-info-wrapper .p {
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
}

.slider-info-item .button {
  position: absolute;
  bottom: 48px;
  left: 51px;
}

/*боловые кнопки слайдера*/
.slider-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.slider-button {
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(41, 52, 73, 0.6);
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: relative;
  background-image: url("../images/slider-button.svg");
  background-repeat: no-repeat;
  background-position: center right 53%;
  background-size: auto;
}

.slider-prev {
  margin-left: 19px;
}

.slider-next {
  transform: rotate(180deg);
  margin-right: 18px;
}

.slider-button:hover {
  background-color: rgba(41, 52, 73, 1);
}

.slider-button:active {
  background-color: rgba(41, 52, 73, 1);
  opacity: 0.6;
}

/*пагинация*/
.slider-pagination {
  list-style: none;
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  bottom: 18px;
}

.slider-pagination-item {
  margin: 4px;
}

.slider-pagination-button {
  width: 8px;
  aspect-ratio: 1/1;
  background: #ffd180;
  opacity: 0.8;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}

.slider-pagination-button-current {
  background: #ffffff;
  opacity: 1;
}

.slider-pagination-button:hover {
  background: #c5c5c5;
}

.slider-pagination-button:active {
  background: #c5c5c5;
  opacity: 0.6;
}

.new::before {
  content: "new";
  font: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: #ee3643;
  padding: 6px 20px;
  width: 100px;
  height: 30px;
  transform: rotate(45deg);
  position: absolute;
  top: 7px;
  right: -27px;
  z-index: 1;
}

/*КАТАЛОГ*/
.produst-catalog {
  margin: 0;
  margin-top: 50px;
}

.produst-catalog .h2 {
  margin-bottom: 26px;
  color: #293449;
}

.produst-catalog-container {
  display: flex;
  padding-bottom: 53px;
}

.catalog-filter {
  flex: 0 0 220px;
  margin-right: 79px;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.range {
  border-radius: 2px;
  margin: 0;
  margin-top: 8.71px;
  margin-bottom: 6.29px;
  padding: 19px 20px;
  min-height: 40px;
  width: 100%;
  background: #f7f3ec;
  border: none;
}

.range-scale {
  position: relative;
  height: 2px;
  margin: auto 0;
  width: 100%;
  background: #3d546f;
}

.range-bar {
  position: absolute;
  height: 2px;
  background: #5fbb2d;
}

.range-toggle {
  display: block;
  position: absolute;
  width: 20px;
  aspect-ratio: 1/1;
  background: #ffffff;
  border: 2px solid #3d546f;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.range-toggle:hover {
  background: #518534;
}

.range-toggle:active {
  background: #5fbb2d;
}

.toggle-min {
  top: -9px;
  left: 0;
}

.toggle-max {
  top: -9px;
  right: 0;
}

.range-wrapper-inputs {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.range-wrapper-inputs span {
  display: inline-block;
  padding: 9.5px;
  color: #293449;
}

.range-input {
  padding: 10px 7px 12px 6px;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background: #f7f3ec;
  border-radius: 2px;
  border: none;
  appearance: textfield;
  flex-grow: 1;
  box-shadow: none;
  outline: none;
  color: #293449;
  margin: 0;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button,
.select-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 17px;
}

.whith-radio .catalog-filter-list {
  margin-top: 20px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 20px;
}

.whith-radio .catalog-filter-item:not(:last-child) {
  margin-bottom: 18px;
}

.control {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid #3d546f;
  border-radius: 2px;
  cursor: pointer;
}

.control-label {
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: transparent;
  background-image: url("../images/vv.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center right 47%;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background-color: #3d546f;
  border-radius: 50%;
  content: "";
}

.control-input:hover + span {
  opacity: 0.6;
}

.control-input:active + span {
  opacity: 0.4;
}

.control-input:disabled ~ span {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.control-input:disabled + span {
  opacity: 0.2;
}

.catalog-filter .button-white {
  width: 100%;
  border-color: #32425c;
  margin-top: 13px;
}

.catalog-filter .button-white:hover {
  border-color: #63a63e;
}

.catalog-filter .button-white:active {
  border-color: #c5c5c5;
}

/*Правая часть каталога*/
.catalog-right-column {
  flex-grow: 1;
}

.sorting-container {
  padding: 34px 0 31px 0;
}

.select-control {
  font: inherit;
  color: #293449;
  min-width: 280px;
  border-radius: 2px;
  margin: 0;
  padding: 7px 15px;
  padding-right: 25px;
  background-color: transparent;
  border: 1px solid #3d546f;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: top 15px right 12px;
  background-size: auto;
  cursor: pointer;
}

/*Карточки товаров*/
.product-list {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: grid;
  column-gap: 30px;
  row-gap: 29px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.product-card {
  background-color: transparent;
  padding: 26px;
  padding-bottom: 24px;
  position: relative;
  overflow: hidden;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 380px;
}

.product-card-image-content {
  position: relative;
  height: 180px;
}

.product-card-image {
  display: block;
  object-fit: contain;
  object-position: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.product-card:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  transition: box-shadow 220ms ease-in-out;
}

.product-card-image-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.product-card:hover .product-card-image-hover {
  visibility: visible;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.product-card-image-hover .button + .button {
  margin-top: 11px;
}

.product-card .button {
  min-width: 135px;
}

.product-card .button-green {
  padding: 11px 10px;
}

.product-card .button-green::before {
  content: url("../images/dasket.svg");
  display: block;
  height: 14px;
  width: 20px;
}

.product-card-title {
  color: #293449;
  margin-bottom: 10px;
  margin-top: 15px;
}

.product-card-price {
  margin-bottom: 10px;
  margin-top: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #a9a9a9;
}

.product-card-price.sale {
  text-decoration: line-through;
}

.button.product-card-final-price {
  /*background: #ee3643;*/
  border-radius: 4px;
  margin-top: auto;
  padding: 11px;
  position: relative;
  min-width: 122px;
  margin-right: 17px;
  cursor: default;
}

.product-card-final-price::before {
  content: "";
  position: absolute;
  width: 30px;
  aspect-ratio: 1/1;
  background: inherit;
  border-radius: 4px;
  right: 8px;
  transform: rotate(45deg) translateY(-50%) translateX(50%);
  z-index: -1;
}

/*Пагинация*/
.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination {
  list-style: none;
  padding: 0;
  display: flex;
  margin: -4px;
}

.pagination-item {
  line-height: 100%;
  margin: 4px;
}

.pagination-link {
  display: block;
  width: 50px;
  height: 45px;
  padding: 15px 10px 14px 10px;
  font: inherit;
  line-height: 100%;
  font-weight: 700;
  color: #ffffff;
  background-color: #3d546f;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
}

.pagination-link-current {
  color: #3d546f;
  background-color: #ffffff;
  pointer-events: none;
  cursor: default;
}

.pagination-link:hover {
  opacity: 0.8;
}

.pagination-link:active {
  opacity: 0.6;
}

.pagination-container .button-red {
  margin-left: 17px;
}

/*Сервисы*/
.services {
  padding: 52px 0;
  background-color: #f1f5f7;
  color: #293449;
  text-align: center;
}

.services .h2 {
  margin-bottom: 30px;
}

.services-list {
  list-style: none;
  margin: 0;
  margin-top: 65px;
  padding: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.services-item {
  padding: 31px 44px 43px 26px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  text-align: left;
  background: #ffffff;
}

.services-item .h3 {
  color: #32425c;
  margin-bottom: 21px;
}

.services-item .p {
  font-size: 16px;
  color: #000000;
}

.services-item::before {
  content: "";
  display: block;
  width: 90px;
  aspect-ratio: 1 / 1;
  background-size: initial;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 46px;
}

.services-item.delivery-red::before {
 background-image: url("../images/delivery-red.svg");
}

.services-item.discounts-red::before {
  background-image: url("../images/discounts-red.svg");
}

.services-item.materials-red::before {
  background-image: url("../images/materials-red.svg");
}

/*ФУТЕР*/
.footer-link {
  text-decoration: none;
  color: #ffd180;
}

.footer-link[href*="tel:"] {
  color: inherit;
}

.footer-link:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-thickness: 0.5px;
  color: #ffbf47;
}

.footer-link:active {
  color: #ffbf47;
  opacity: 0.6;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-info-right {
  display: grid;
  row-gap: 25px;
  padding-bottom: 13px;
}

.footer .logo {
  min-height: 51px;
  width: 72%;
}

.footer-info {
  background: #32425c;
}

.footer-info .p {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.footer-contacts {
  font-style: normal;
  color: #f3f7f9;
}

.footer-contacts p {
  color: inherit;
}

.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: -17px;
  margin-top: -1px;
}

.social-item {
  display: block;
  margin-left: 17px;
  margin-bottom: 17px;
}

.social-item-link {
  display: block;
  position: relative;
  min-width: 36px;
  min-height: 36px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-item-link svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #ffffff;
  color: #47556c;
  transition: inherit;
}

.social-item-link:hover {
  background: #293449;
}

.social-item-link:hover svg {
  fill: #ffffff;
  color: #293449;
}

.social-item-link:active {
  opacity: 0.6;
}

.footer-info-left {
  padding-top: 29px;
  padding-bottom: 43px;
  flex-basis: 260px;
  margin-left: auto;
}

.footer-info-left .footer-link {
  display: block;
  margin-bottom: 29px;
}

.footer-info-left {
  text-align: right;
}

.email {
  margin-top: 2px;
  display: flex;
}

.email .email-input{
  flex-grow: 1;
}

.email .button-green{
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: -3px;
}

/*нижняя часть футера*/
.footer-copyright {
  background: #293449;
}

.footer-copyright .container {
  padding: 20px 0 22px 0;
}

.footer-copyright .p {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
