/*Fira Sans*/
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
  font-display: swap;
}

/*PT Sans*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
  font-display: swap;
}

/*бордер бокс на всю страницу*/
*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*общий шрифт*/
body {
  font-family: "PT Sans", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  background: #ffffff;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  /*Сглаживание текста*/
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  /*min-width: 1400px;* УБРАТЬ В КОНЦЕ*/
}

body a,
body button {
  transition: 220ms all ease-in-out;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  background-color: transparent;
}

/*--Скрытый элемент--*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.h2 {
  font: inherit;
  font-family: "Fira Sans", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  text-transform: uppercase;
  margin: 0;
}

.h3 {
  font: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.h4 {
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}

.p {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

/*кнопки*/
.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  font: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  width: fit-content;
  text-align: center;
  transition: 220ms all ease-in-out;
}

.button-red {
  background: #ee3643;
  padding: 13px 6px 14px 5px;
  min-width: 195px;
}

.button-red:hover {
  background: #ca2c37;
}

.button-red:active {
  background: #ba2732;
}

.button-green {
  background: #63a63e;
  padding: 12px 10px;
}

.button-green:hover {
  background: #5fbb2d;
}

.button-green:active {
  background: #518534;
}

.button-green[aria-label] {
  padding: 11px;
  aspect-ratio: 1 / 1;
  min-height: 40px;
  min-width: 40px;
}

.button-green[aria-label] svg {
  height: 18px;
}

/* Инпуты */
.input {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #3d546f;
  background: #ffffff;
  border: none;
  border-radius: 2px;
  padding: 8px 8px 12px 13px;
  margin: 0;
  cursor: text;
  outline: none;
  box-shadow: inset 0 0 0 1px #3d546f;
}

.email-input {
  box-shadow: inset 0 0 0 1px #63a63e;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 16px 12px 16px;
}

.input::placeholder {
  color: #c5c5c5;
}

.input:hover {
  color: #293449;
  box-shadow: inset 0 0 0 1px #63a63e;
}

.input:focus {
  color: #293449;
  box-shadow: inset 0 0 0 1px #ffbf47,
              inset 0 0 0 2px #63a63e;
}

.input:focus:invalid,
.input.error {
  color: #293449;
  box-shadow: inset 0 0 0 1px #ee3643;
}

.input:focus::placeholder {
  opacity: 0;
}

.input:hover:invalid,
.input:hover.error {
  color: #000000;
  box-shadow: inset 0 0 0 2px #ee3643;
}

.input:disabled,
.input:read-only {
  background-color: #f1f5f7;
  box-shadow: inset 0 0 0 1px #c5c5c5;
  color: #000000;
  cursor: default;
}

.input:disabled::placeholder {
  color: #000000;
}

.label {
  font: inherit;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
}

/*-------- ХЕДЕР --------*/
.navigation {
  position: relative;
}

/*первая секция*/
.header-contacts {
  background: #f3f7f9;
}

.header .contacts {
  margin: 0 -16px;
  display: flex;
  flex-wrap: wrap;
  font: inherit;
}

.contacts > * {
  margin: 0 16px;
  padding: 13px 0 14px 0;
  flex-shrink: 1;
}

.header .contact-name {
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  color: #ee3643;
  margin-right: auto;
}

.header .contact-address {
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
}

.header .contact-phone {
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  color: #293449;
}

.contact-phone:hover {
  color: #63a63e;
}

.contact-phone:active {
  opacity: 0.6;
}

.contact-phone svg {
  margin-right: 8px;
  flex-shrink: 0;
}

/*вторая секция*/
.header-content {
  background: #293449;
}

.header-content-wrapper {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #ee3643;
  min-width: 220px;
  min-height: 45px;
}

.logo::after {
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  height: 5px;
  background-color: inherit;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  content: "";
  z-index: 1;
}

.logo:hover {
  background: #ca2c37;
}

.logo:active {
  background: #ba2732;
}

.logo img {
  display: block;
}

/*Поиск*/
.search {
  width: auto;
  flex-grow: 1;
  display: flex;
}

.search:focus-within {
  background-color: #f1f5f7;
}

.search button[type="submit"] {
  opacity: 0.3;
  color: #ffffff;
  padding: 12px;
  margin-left: 9px;
}

.search:focus-within button[type="submit"] {
  opacity: 1;
  color: #405069;
}

.search:focus-within button[type="submit"]:hover {
  opacity: 0.6;
}

.search:focus-within button[type="submit"]:active {
  opacity: 0.4;
}

.search button[type="submit"]:hover {
  opacity: 1;
}

.search button[type="submit"]:active {
  opacity: 0.6;
}

.search-input-reset-button-wrapper {
  position: relative;
  flex-grow: 1;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-input {
  display: block;
  padding: 10px 0;
  padding-right: 45px;
  font: inherit;
  color: #293449;
  background: transparent;
  margin: 0;
  cursor: text;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  width: 100%;
  height: calc(100% - 1px);
}

.search-input::placeholder {
  color: #ffffff;
}

.search-input:focus::placeholder {
  opacity: 0;
}

.search:focus-within .search-input::placeholder {
  color: #c5c5c5;
}

.search:not(:focus-within) .search-input {
  color: #ffffff;
}

.search-reset-button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  background-image: url("../images/reset.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  display: none;
}

.search-input:valid + .search-reset-button {
  display: block;
}

.search:not(:focus-within) .search-input:valid + .search-reset-button {
  opacity: 0;
}

.search-reset-button:hover {
  opacity: 0.7;
}

.search-reset-button:active {
  opacity: 0.5;
}

.button-header-content {
  padding: 14px 0 13px 7px;
}

.button-header-content svg + span {
  margin-left: 10px;
}

.button-header-content:hover {
  color: #5fbb2d;
}

.button-header-content:active {
  color: #518534;
}

/*третья секция*/
.header-navigation {
  background: #3d546f;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.navigation-main-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  flex: 1 1;
}

.navigation-main-menu .navigation-link {
  padding: 20px 24px 25px 24px;
  min-width: 106px;
}

.navigation-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.navigation-link:hover {
  background: #32425c;
  color: #c5c5c5;
}

.navigation-link:active {
  background: #32425c;
  color: #ffffff;
  /*font-weight: bold;*/
  text-shadow: 0.5px 0 0.1px,
              -0.5px 0 0.1px;
}

.navigation-user-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navigation-user-menu .navigation-link[aria-label] {
  padding: 23px 13px 28px 13px;
  display: flex;
  align-items: center;
}

.navigation-link-icon {
  color: inherit;
  opacity: 0.6;
  min-height: 18px;
  transition: opacity 1s;
}

.navigation-link:hover .navigation-link-icon,
.navigation-link:active .navigation-link-icon {
  opacity: 1;
}

.navigation-user-menu .button-green {
  margin: auto 2px;
}

/*-------- МЕИН --------*/
.main {
  flex-grow: 1;
}

.bonus-prises {
  margin-top: 52px;
  margin-bottom: 50px;
}

.bonus-prises-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  column-gap: 30px;
  row-gap: 27px;
}

.bonus-prises-item {
  position: relative;
  min-height: 180px;
  padding: 20px 37px 33px 25px;
  display: grid;
  grid-template-columns: auto 90px;
  column-gap: 38px;
  color: #ffffff;
}

.bonus-prises-item::after {
  content: "";
  display: block;
  align-self: center;
  width: 90px;
  aspect-ratio: 1 / 1;
  background-size: initial;
  background-position: center;
  background-repeat: no-repeat;
}

.materials::after {
  background-image: url(../images/materials.svg);
}

.instrument::after {
  background-image: url(../images/instrument.svg);
}

.mechanism::after {
  background-image: url(../images/mechanism.svg);
}

.discounts::after {
  background-image: url(../images/discounts.svg);
}

.delivery::after {
  background-image: url(../images/delivery.svg);
}

.bonus-prises-item-wrapper {
  display: flex;
  flex-direction: column;
}

.button-bonus-prises {
  margin-top: auto;
  width: 100%;
  border: 1px solid #f9f5f0;
  padding: 11px 9px 9px 33px;
  background-color: transparent;
  background-image: url(../images/stroke.svg);
  background-size: auto;
  background-position: center left 11px;
  background-repeat: no-repeat;
  justify-content: flex-start;
}

.button-bonus-prises:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button-bonus-prises:active {
  opacity: 0.7;
}

.bonus-prises-item:nth-of-type(1n) {
  background: #ffbf47;
}

.bonus-prises-item:nth-of-type(2n) {
  background: #3bbce3;
}

.bonus-prises-item:nth-of-type(3n) {
  background: #dc91d8;
}

.bonus-prises-item:nth-of-type(4n) {
  background: #8ed78f;
}

/*Слайдер*/
.slider {
  grid-column: span 2;
  grid-row: span 2;
  position: relative;
}

.slider-info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-info-item {
  position: relative;
  display: none;
  background: #32425c;
  margin: 0;
  padding: 0;
}

.show {
  display: block;
}

.slider-info-wrapper {
  position: absolute;
  max-width: 50%;
  color: #ffffff;
  top: 53px;
  left: 51px;
}

.slider-image {
  display: block;
  object-fit: contain;
  object-position: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.slider-info-wrapper .p {
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
}

.slider-info-item .button {
  position: absolute;
  bottom: 48px;
  left: 51px;
}

.slider-pagination {
  list-style: none;
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  bottom: 18px;
}

.slider-pagination-item {
  margin: 4px;
}

.slider-pagination-button {
  width: 8px;
  aspect-ratio: 1/1;
  background: #ffd180;
  opacity: 0.8;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}

.slider-pagination-button-current {
  background: #ffffff;
  opacity: 1;
}

.slider-pagination-button:hover {
  background: #c5c5c5;
}

.slider-pagination-button:active {
  background: #c5c5c5;
  opacity: 0.6;
}

/*ФУТЕР*/
.footer-link {
  text-decoration: none;
  color: #ffd180;
}

.footer-link[href*="tel:"] {
  color: inherit;
}

.footer-link:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-thickness: 0.5px;
  color: #ffbf47;
}

.footer-link:active {
  color: #ffbf47;
  opacity: 0.6;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-info-right {
  display: grid;
  row-gap: 25px;
  padding-bottom: 13px;
}

.footer .logo {
  min-height: 51px;
  width: 72%;
}

.footer-info {
  background: #32425c;
}

.footer-info .p {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.footer-contacts {
  font-style: normal;
  color: #f3f7f9;
}

.footer-contacts p {
  color: inherit;
}

.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: -17px;
  margin-top: -1px;
}

.social-item {
  display: block;
  margin-left: 17px;
  margin-bottom: 17px;
}

.social-item-link {
  display: block;
  position: relative;
  min-width: 36px;
  min-height: 36px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-item-link svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #ffffff;
  color: #47556c;
  transition: inherit;
}

.social-item-link:hover {
  background: #293449;
}

.social-item-link:hover svg {
  fill: #ffffff;
  color: #293449;
}

.social-item-link:active {
  opacity: 0.6;
}

.footer-info-left {
  padding-top: 29px;
  padding-bottom: 43px;
  flex-basis: 260px;
  margin-left: auto;
}

.footer-info-left .footer-link {
  display: block;
  margin-bottom: 29px;
}

.footer-info-left {
  text-align: right;
}

.email {
  margin-top: 2px;
  display: flex;
}

.email .email-input{
  flex-grow: 1;
}

.email .button-green{
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: -3px;
}

/*нижняя часть футера*/
.footer-copyright {
  background: #293449;
}

.footer-copyright .container {
  padding: 20px 0 22px 0;
}

.footer-copyright .p {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
